* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    background: linear-gradient(135deg,
            #E9E2F6,
            #D6CCEE,
            #CBBFE8,
            #A99ACF);
    color: var(--text-dark);
    min-height: 600px;

}

.hero {
    min-height: 500px;
    padding: 40px 80px;
    position: relative;
}

.hero-img {
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: auto;
}

/*  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #4A3F6F;
    font-size: 20px;
}

.nav-links a:hover {
    color: #551b76;
    /* بنفسجي أفتح */
    transform: scale(1.1);
    /* تكبير خفيف */
}

.hamburger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 100%;
    background: #4A3F6F;
    border-radius: 5px;
    transition: all 0.4s ease;
}

/* Animation */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/*  */

.logo {
    font-family: 'Allura', cursive;
    font-size: 36px;
    color: #4A3F6F;
    letter-spacing: 1px;
}

/* icons */
.nav-icons {
    display: flex;
    gap: 15px;
}

.admin-icon,
.cart-icon {

    left: 600px;
    top: 60px;
    position: relative;
    background: #5934b6;
    color: rgb(243, 236, 236);
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 6px 15px rgba(107, 90, 158, 0.3);
    transition: transform 0.3s ease;

}

.admin-icon:hover,
.cart-icon:hover {
    transform: scale(1.1);
}

#cartCount {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #6B5A9E;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 50%;
}

.shop-btn {
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 30px;
    background: linear-gradient(135deg, #CBBFE8, #A99ACF);
    color: white;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    height: 80vh;
}

.hero-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 1.3;
    color: var(--deep-purple);
    text-align: center;
    min-height: auto;
}

.hero-content p {
    margin: 20px 0;
    font-size: 16px;
    opacity: 0.9;
    text-align: center;
    min-height: auto;
}

.main-btn {
    padding: 14px 30px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(135deg, #A99ACF, #6B5A9E);
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(169, 154, 207, 0.5);

}

.main-btn:hover {
    transform: scale(1.05);
    /* يكبر الزر شوي */
    box-shadow: 0 0 40px rgba(98, 74, 156, 0.8);
    /* يزيد الضوء */
}

.categories {
    display: flex;
    gap: 30px;
    padding: 80px;
    justify-content: center;
}



.nav-links {
    display: flex;
    gap: 25px;
}

html,
body {
    overflow-x: hidden;
}

/*  */
/* Section */
.products {
    padding: 70px 0px;
}

.section-title {
    text-align: center;
    font-size: 36px;
    color: #4A3F6F;
    margin-bottom: 50px;

    font-family: 'Playfair Display', serif;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.product-card.large-card {
    background: linear-gradient(145deg, #F1ECFB, #D6CCEE);
    border-radius: 24px;
    padding: 15px;
    height: 350px;
    /* ارتفاع افتراضي للكروت */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 14px 35px rgba(107, 90, 158, 0.25);
    transition: transform 0.45s ease, box-shadow 0.45s ease;

}

/* الصور داخل الكروت */
.product-card.large-card img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    /* بدنا الصورة كلها بدون تقطيع */
    border-radius: 18px;
    flex-shrink: 0;
    margin-bottom: 12px;
}

.card-info {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-info h3 {
    font-size: 16px;
    color: #4A3F6F;
    margin-bottom: 2px;
}

.card-info .price {
    font-size: 14px;
    color: #6B5A9E;
    font-weight: 600;
}

.product-card.large-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 20px 50px rgba(85, 27, 118, 0.35);
}


/* Hover */
.product-card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow:
        0 18px 45px rgba(85, 27, 118, 0.35);
}

.img-wrapper {
    position: relative;
    width: 100%;
}

.product-img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 18px;
    display: none;
}

.product-img.active {
    display: block;
}

/* السهم */
.next-img {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.add-cart {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(135deg, #A99ACF, #6B5A9E);
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-cart:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(107, 90, 158, 0.4);
}

/* Animation عامة */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hero animation */
.hero {
    animation: fadeUp 1.2s ease forwards;
}

/* عناصر تطلع ورا بعض */
.hero-content h2 {
    animation: fadeUp 1.2s ease forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

.hero-content p {
    animation: fadeUp 1.2s ease forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

.main-btn {
    animation: fadeUp 1.2s ease forwards;
    animation-delay: 0.9s;
    opacity: 0;
}

.product-card {
    opacity: 0;
    transform: translateY(40px);
}

.product-card.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s ease;
}

/* السله */
.cart-overlay {
    position: fixed;
    top: -200px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* كرت السلة */
.cart-card {
    position: relative;
    background: #6B5A9E;

    color: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: pop 0.3s ease;
}

/* زر الإغلاق */
.close-cart {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    opacity: 0.9;
    transition: 0.3s;
}

.close-cart:hover {
    transform: scale(1.1);
    opacity: 1;
}

/* العنصر داخل السلة */
.cart-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.cart-item-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

.cart-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* الاسم تحت بعض */
    justify-content: center;
}

.cart-item-name {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}

.cart-item-price {
    margin: 2px 0 0 0;
    font-size: 14px;
    color: #f3e8ff;
}


/* زر الحذف */
.delete-item {
    background: transparent;
    border: none;
    color: #f2f1f1;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.delete-item:hover {
    transform: scale(1.2);
}

/* زر الطلب عبر واتساب */
.order-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: #fff;
    color: #5934b6;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.order-btn:hover {
    background: #f3e8ff;
}

/* الإجمالي */
.cart-total {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* Pop animation */
@keyframes pop {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width:1010px) {

    /* Hamburger */
    .admin-icon,
    .cart-icon {
        left: 60%;


    }

}

@media (max-width:980px) {
    .product-card.large-card {

        height: auto;


    }

}

@media (max-width: 768px) {

    /* الصفحة بشكل عام */
    body {
        text-align: center;
        min-height: 690px;
    }

    /* Hero */
    .hero {
        padding: 20px 20px;
        /* بدل 40px 80px */
        min-height: auto;
        /* خلي ارتفاع الهيرو يتناسب مع المحتوى */
    }

    .hero-content {
        margin-top: 30px;
        /* بدل 120px */
    }

    .hero-img {
        margin-top: 160px;
    }



    /* Navbar */
    .navbar {
        position: relative;
        justify-content: center;
    }

    .logo {
        font-size: 40px;
        margin-right: 10px;

    }

    /* Hamburger */
    .hamburger {
        display: flex;
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Hamburger */
    .admin-icon,
    .cart-icon {
        left: 15%;
        top: 50%;
        margin-left: 10px;
    }

    /* Menu */
    .nav-links {
        position: fixed;
        top: 30px;
        right: 0;
        width: 40%;
        height: 350px;
        border-radius: 30px 0 0 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 80px 30px;
        gap: 25px;

        background:
            #CBBFE8;

        transform: translateX(100%);
        transition: transform 0.4s ease;
        z-index: 1000;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .nav-links a {
        font-size: 20px;
    }

    .add-cart {
        margin-top: 5px;
        padding: 6px 10px;

        font-size: 8px;

    }


    .hero-content {

        padding: 0 5px;
        height: 30vh;
    }

    .hero-content h2 {
        font-size: 26px;
        line-height: 1.3;
    }

    .hero-content p {
        font-size: 14px;
        margin: 15px 0;
    }

    .main-btn {
        margin: 0 auto;
        font-size: 15px;
        padding: 12px 26px;
    }

    .section-title {
        font-size: 26px;
    }

    .products {
        padding: 45px 6px;
    }

    .section-title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 12px;
        max-width: 100%;
        margin: 0 auto;
    }

    .product-card.large-card {
        height: 300px;
    }

    .product-card.large-card img {
        max-height: 180px;
    }

    .cart-overlay {

        top: -20px;

    }
}

@media (max-width:500px) {

    /* Hamburger */
    .admin-icon,
    .cart-icon {
        left: 5%;
        top: 50%;
        margin-left: 10px;
    }

}

@media (max-width:386px) {

    .cards-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    }

    /* Hamburger */
    .admin-icon,
    .cart-icon {
        left: 50px;
        top: 50px;

    }
}
